
body {
 font-size:80%;
 color:#000000;
 background-color:#fafafa;
 margin:10px;
}

.content {
        max-width: 800px;
        margin: auto;
}

body,p,td,ul,textarea,input { font-family: verdan:; }

table,input,textarea { font-size: 100%; }

a:link    { text-decoration:underline; color:#008800; }
a:visited { text-decoration:underline; color:#008800; }
a:hover   { text-decoration:underline; color:#880000; }

a.menu:link    { text-decoration:none; color:#333333; }
a.menu:visited { text-decoration:none; color:#333333; }
a.menu:hover   { text-decoration:underline; color:#333333; }

/*
body,td,pre {
  color: black;
  font-family: Verdana,Arial,Helvetica;
  font-size: x-small;
}
*/
