
body {
 font-size:80%;
 color:#000000;
 background-color:#caaaaa;
 margin:10px;
}

.content {
        max-width: 1000px;
        margin-left: 15%;
	margin-right: 20%;
}

.main {
	min-height: 700px;
}

.cmain {
        width: 100%;
        vertical-align: top;
        padding: 10px 0 0 30px;
}

table.menu {
	margin-top: 15px;
}

.list {	
	width: 700px;
	border: 0;
	border-spacing: 1px;
	background-color: #999999;
}

.listwide {
	width: 1000px;
}

.listmedium {
	width: 800px;	
}

.lineh30 {
	line-height: 25px;
}
body,p,td,ul,input,textarea { font-family : '맑은 고딕', Arial; }
table,input,textarea { font-size: 100%; }

a:link    { text-decoration:underline; color:#333333; }
a:visited { text-decoration:underline; color:#333333; }
a:hover   { text-decoration:underline; color:#333333; }
a:active  { text-decoration:underline; color:#333333; }


/*
#menu {
  float: left;
  width: 200;
  background: #cbbbbb;
  line-height: 200%;
  border: 5px solid #eae3e3;
  margin:0 0 0 0px;
  padding:9 9 9 0px;
  white-space: nowrap;
  border:1px solid red;
}
#menu li {
  margin:0 0 0 0px;
  padding:0 0 0 0px;
  list-style-type: none;
  border:1px solid;
}
#menu li.space {
  background:#555555;
  height:1;
  border:1px solid;
}
#menu li a:link,
#menu li a:visited,
#menu li a:active {
  text-decoration: none; 
  color: #666666;
  display: block;
  margin:0 0 0 0px;
  padding:0 0 0 0px;
  width:200; height: 20;
  border:1px solid;
}
#menu li a:hover {
  text-decoration: none; 
  color: #990000;
  background-color: #000000;
  display: block;
  margin:0 0 0 0px;
  padding: 0 0 0 0px;
}
*/

#content {
  margin-right: 5px;
  margin-left: 205px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border: 5px solid #eae3e3;
}
  

/* ?????? ??ư */
td.pager_off {
  border:1px solid transparent; width:20px;
}
td.pager_on {
  border:1px solid #000000; width:20px;
  font-weight: bold;
}
td.pager_sel_off {
  border:1px dashed #000000; width:20px;
  color: orangered; font-weight: bold;
}
td.pager_sel_on {
  border:1px solid #000000; width:20px;
  color: orangered; font-weight: bold;
}
td.pager_static {
  width:20px;
}

